.caixaF {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 200%;
    min-width: 50%;
    background-color: black;
    margin: 0px;
    margin-top: auto;
    
    
}

.caixaFN{
    
    display: flex;
    align-items: center;
    margin-top: 0;   
}

.sLa{
    width: 200px;
    height: 100px;
}